<div class="container">
    <div class="row">
        <div class="col col-12 col sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Discount Cards" class="form-label">Discount Cards</label>
                    <input type="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Address" class="form-label">Address</label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="Payment" class="form-label">Payment</label>
                    <select name="" id="" class="form-control">
                        <option value="">Credit Card</option>
                        <option value="">Debit Card</option>
                        <option value="">Gpay</option>
                        <option value="">Paytm</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col col-12 col sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for=" " class="form-label"> </label>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-success">Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>